@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'),
       url('./assets/fonts/OpenSans-Regular.ttf') format('truetype') 
}

html, body {
  scroll-padding-top: 150px;
}

@import '~bootstrap/scss/bootstrap';

